.pageNumbers {
    list-style: none;
    display: flex;
    width: fit-content;
    margin-left: auto;
    justify-self: center;
    align-items: center;
    padding: 5px;
    background-color: #E6E6E6;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.pageNumbers li{
    padding:10px;
    border: 1px solid #8B0D32;
    height: fit-content;
    border-radius: 5px;
    cursor: pointer;
}
#button-prev, #button-next{
    border: none;
}
.active {
    background-color: #8B0D32 ;
    color: #E6E6E6;
}

