.input-feedback {
    display: flex;
    width: 25%;
    background-color: #E6E6E6;
    color: #8B0D32;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.input-feedback p {
    font-style: italic;
    color: darkslategray;
    font-weight: bold;
}