.container {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.container input {
    width: 100%;
    height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: #8B0D32 4px solid;
    background: none;
    margin-bottom:30px;
    text-align: center;
}

.navigation-bar {
    margin-top: 30px;
    width:70%;
    padding: 5px 5px 0;
    display: inline-flex;
    justify-content: space-evenly;
}
.navigation-bar button {
    width: 30%;
    height: 80px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(230, 230, 230, 0.7);
    color: #8B0D32;
    border-radius: 25px 25px 0 0 ;
    border: 2px #8B0D32 solid;
    border-bottom: none;
    padding: 5px;
}
.navigation-bar button:hover {
    background-color: #8B0D32;
    color: #E6E6E6;
    width: 35%;
    border: #E6E6E6 2px solid;
    border-bottom: none;
}
.navigation-bar button:focus {
    background-color: #8B0D32;
    color: #E6E6E6;
    width: 35%;
    border: #E6E6E6 2px solid;
    border-bottom: none;
}
.profile-header {
    background-color: #8B0D32;
    width: 100%;
    color: #E6E6E6;
    border:none;
}
.profile {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    box-shadow: #8B0D32 0px 7px 29px 0px;
    background-color: rgba(230, 230, 230, 0.9);
    border: #8B0D32 2px solid;
    border-top: none;
    padding: 0 0 50px;
    border-radius: 0 0 10px 10px;
    color: #8B0D32;
    width: 70%;
    height: fit-content;
}
.profile span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}
.profile p {
    margin: 0;
    margin-right: 5px;
    font-weight: bold;
}
.profile-table {
    margin-top: 40px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.profile-table table {
    width: 80%;
}
.profile-table td{
    width: 50px;
    text-align: start;
    padding: 10px;
}
.profile-table th{
    width: 100px;
    text-align: start;
}
.profile-options{
    width: 100%;

}
.address-form {
    width: 70%;
    font-size: 25px;
}
.password-change {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(230, 230, 230, 0.9);
    border:none;
    padding: 50px 0 50px;
    border-radius: 0 0 10px 10px;
    color: #8B0D32;
    width: 70%;
    height: fit-content;
}
.password-change label{
    font-size: 25px;
}
.venues {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(230, 230, 230, 0.9);
    border:none;
    padding: 0 0 50px;
    margin-bottom: 50px;
    border-radius: 0 0 10px 10px;
    color: #8B0D32;
    width: 70%;
    height: fit-content;
}
.venue-cards {
    width: 100%;
}

.venues-header {
    background-color: #8B0D32;
    color: #E6E6E6;
    width:100%;
}
.venue-navigation {
    background-color: rgba(230, 230, 230, 1);
    width: 100%;
    border-bottom: 2px #8B0D32 solid;
    border-top: 2px #E6E6E6 solid;
}

.profile button {
    height:fit-content;
}

.events {
    display: flex;
    flex-flow: column;
    border: 2px solid #8B0D32 ;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(230, 230, 230, 0.9);
    width: 70%;
    padding-bottom: 20px;
    border-radius: 0 0 10px 10px;
}
.events div {
    width: 90%;
    margin: 20px 20px 0 0;
}
.event-cards {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(230, 230, 230, 0.9);
    width: 70%;
    border: 2px #8B0D32 solid;
    padding: 40px 0 ;
    border-radius: 0 0 10px 10px;
}
.review-cards {
    width: 60%;
}
.event-navigation {
    border-bottom: 1px solid #8B0D32;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.event-navigation button {
    width: fit-content;
    height: fit-content;
    font-size: 20px;
    margin: 10px;
}

