.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.venuecard-image img{
    left: 200px;
    top: 300px;
    width: 200px;
    height: 150px;
    border: #E6E6E6 4px solid;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
}
.venuecard-image {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.venue-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(230, 230, 230, 0.9);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    border: 2px #E6E6E6 solid;
    color: #8B0D32;
    width: 60%;
    height: fit-content;
    margin-top: 25px;
}
.social-media {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
}
.social-media img{
    height:30px;
    width:30px;
}
.venue-reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    border: none;
    color: #8B0D32;
    width: 92%;
    padding:20px;
    margin: 20px;
}
.venue-reviews h2 {
    background-color: #8B0D32;
    text-align: center;
    color: #E6E6E6;
    border-radius: 25px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.scrollable-reviews {
    overflow: scroll;
    overflow-x: hidden;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.venue-header {
    background-color: #8B0D32;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #E6E6E6;
    border-radius: 10px 10px 0 0;
}

.venue-rating {
    display: flex;
    height: 40px;
    width: 40px;
    color: #E6E6E6;
    background-color: green;
    border: #E6E6E6 2px solid;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
#error-message {
    color: red;
}

.venue-card p ,.venue-reviews p {
    font-weight: bold;
    margin: 2px;
}
.venue-table {
    width: 100%;
    margin: 2px;
    text-align: center;
    border: #8B0D32 1px solid;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.venue-table td {
    text-align: left;
    width:20%;
}
.venue-table th {
    text-align: left;
}
.single-review {
    border: #8B0D32 2px solid;
    margin:10px;
    width: 100%;
    border-radius: 10px;
    text-align: start;
    padding: 10px;
}
.venuecard-content {
    padding: 10px;
    text-align: center;
}
.venuecard-content h3 {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: #8B0D32;
    color: #E6E6E6;
    padding: 2px;
    border-radius: 10px;
    border: 1px #E6E6E6 solid;
}
