.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.container fieldset{
    border: none;
    background-color: #E6E6E6;
    color: #8B0D32;
}
.container input{
    width: 100%;
    height: 30px;
    font-size: 20px;
    border: none;
    border-bottom: #8B0D32 4px solid;
    background: none;
    margin-bottom:30px;
    text-align: center;
}
.container label{
    font-size: 25px;
    margin: 10px;
}

.container select{
    width: 100%;
    background-color: #E6E6E6;
    border-radius: 10px;
    border: none;
}
select:hover{
    background-color: #E6E6E6;
}
.container option{
    background-color: rgba(139, 13, 50, 0.7);
}
.container textarea{
    width: 90%;
    height: 100px;
}
.ticket-required{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container p {
    font-size: 25px;
    margin: 10px;
}
.ticket-required label{
    font-size: 20px;
    display: inline-flex;
}
.ticket-required input{
    width: 10px;
    margin:0;
    padding:10px;
    display: inline-flex;
}




