.venue-rating {
    display: flex;
    height: 40px;
    width: 40px;
    color: #E6E6E6;
    background-color: green;
    border: #E6E6E6 2px solid;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

.single-review {
    border: #8B0D32 2px solid;
    margin:10px;
    width: 95%;
    border-radius: 10px;
    text-align: start;
    /*padding: 10px;*/
}
.single-review p {
    font-weight: bold;
}
.review-header {
    color: #E6E6E6;
    padding: 10px;
    background-color: #8B0D32;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    border: 1px #E6E6E6 solid;
    border-radius: 10px 10px 0 0;
}
.review-header span {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.review-header p {
    margin: 0 5px;
}
.review-content {
    background-color: #E6E6E6;
    text-align: center;
    margin: 0;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}
.review-content p {
    margin: 0;
}