.searchbar {
    width: 250px;
    height: 30px;
    background-color: #E6E6E6;
    color: #8B0D32;
    border-radius: 5px;
    text-align: center;
    border: 1px #8B0D32 solid;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}