.header {
    display: flex;
    position: relative;
    background-color: #E6E6E6;
    color: #8B0D32;
    align-items: center;
    justify-content: center;
}
.login-register {
    display: flex;
    font-size: large;
    font-weight: bold;
    flex-direction: row;
    position: absolute;
    top: 10px;
    right: 30px;
}
.login-register li {
    margin: 0 0 20px 20px;
}
a {
    text-decoration: none;
    color: #8B0D32;
}
a :visited {
    text-decoration: none;
    color: #8B0D32;
}
.login-register a:hover, a:active, .top-menu a:hover, a:active  {
    background-color: #8B0D32;
    color: #E6E6E6;
    border-radius: 4px;
    padding: 2px;
    box-shadow: #8B0D32 0px 7px 29px 0px;
}
.events-active, .venues-active, .reviews-active, .login-active, .register-active, .profile-active {
    background-color: #8B0D32;
    color: #E6E6E6;
    border-radius: 4px;
    padding: 2px;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-inline-start: 0px;
}
.middle-list{
    margin: 0 100px 0;
}

.top-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(230, 230, 230, 0.7);
    border-radius: 0 0 30px 30px;
}
.top-menu li {
    display: inline;
    font-weight: bold;
    font-size: xx-large;
}
button {
    background-color: #8B0D32;
    text-align: center;
    color: #E6E6E6;
    border: none;
    height: 20px;
    width: 80px;
}

button:hover {
    background-color: #E6E6E6;
    text-align: center;
    color: #8B0D32;
    border: 2px solid #8B0D32;
}