.container {
    display: flex;
    flex-direction: row;
    color: var(--text-color);
    align-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 20px;

    border: 1px solid #8B0D32;
    margin: 20px 20px 0 0;
    background: #E6E6E6;
    /*background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(246,244,244,1) 63%, rgba(143,0,0,0.8631827731092436) 82%);*/
}
.container:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 1px solid #E6E6E6;
}
.header-container{
    display: flex;
    flex-direction: column;
}
.venue-image {
    display: inline;
    width: 250px;
    border: 2px solid #E6E6E6;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    height: 250px;
    border-radius: 50%;
}
.venue-card {
    text-align: center;
    overflow: no-content;
    display: block;
    width: 100%;
}
.venue-header h1{
    color: var(--text-color);
    font-weight: bold;
    margin: 3px;
    width: 100%;
}
.venue-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: #8B0D32 1px solid;
    padding-bottom: 20px;
}
.location {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
.location img {
    margin-right: 10px;
}
#social-media{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
    width: 10%;
}
.venue-information {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.venue-information p {
    font-weight: bold;
    font-size: large;
}
.venue-table {
    width: 100%;
    margin: 2px;
    text-align: center;
    border: #8B0D32 1px solid;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.venue-table td {
    text-align: left;
    width:20%;
}
.venue-table th {
    text-align: left;
}
#venue-rating {
    display: flex;
    height: 50px;
    width: 60px;
    color: #E6E6E6;
    background-color: green;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}



